{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Team Members{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/static/css/group.css">
    <link rel="stylesheet" href="/static/css/groups.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
{% endblock %}
{#---------Content---------#}
{% block content %}
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<div class="wrapper">
			 <br>
			<div class="image">
				<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/72763_589400579789_4988009_n.jpg?oh=dcfd83277546f0e1d23e69886685d1f8&oe=55A60EF6&__gda__=1440592107_2e780110bba2ed4c436828bd39832736" alt="me">
			</div>
			<div class="information">
				<h4>Aizhuldyz Gabbassova</h4>
				<div class="user">
					<img src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_point_marker_icon.png"> Almaty, Kazakhstan<br />
                    <img src="https://camo.githubusercontent.com/29b9165ea597b18e743c6591ce5065cfe893842b/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333731363637332f323234393838312f65653164356236342d396438392d313165332d383066302d3931363738333935616533652e706e67"> BS in Computer Science'15<br />
					<p>Aizhuldyz is a senior CS student graduating in May. She has an interest in full stack
                     web development, and will join a local company's e-commerce team upon graduation.</p>
				</div>

			</div>
			<div class="social">
				<a href="https://www.linkedin.com/profile/view?id=181024238&trk=nav_responsive_tab_profile_pic"><img src="https://www.linkedin.com/favicon.ico" alt="linkedin"></a>
				<a href="https://plus.google.com/u/0/107906474782278232606/posts"><img src="https://ssl.gstatic.com/s2/oz/images/faviconr3.ico" alt="google+"></a>
				<a href="https://seelio.com/p/pkh/aizhuldyz-gabbassova"><img src="https://seelio.com/favicon.ico" alt="seelio"></a>
			</div>
                <span class="fact"><br>Number of issues: 7<br>
                    Number of commits: 37<br>
                    Number of unit tests: 7<br>
                    Tasks: Search front-end <br> </span>
            <br><br>
            <div class="image">
				<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10154009_10204762458518782_2042073268936276116_n.jpg?oh=f5b5d409f4f0e7f2df3dd06b563dff04&oe=5577DC9D&__gda__=1437627128_7cd1ca7ee87098cc02b149b704403f1d">
			</div>
			<div class="information">
				<h4>Colin Murray</h4>
				<div class="user">
					<img src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_point_marker_icon.png"> Grapevine, Texas<br />
                    <img src="https://camo.githubusercontent.com/29b9165ea597b18e743c6591ce5065cfe893842b/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333731363637332f323234393838312f65653164356236342d396438392d313165332d383066302d3931363738333935616533652e706e67"> BS in Computer Science'15<br />
					<p>Colin is a senior Computer Science student at UT Austin.  Former star running back of the Colleyville Heritage High School B-team,
                    seeks to one day relive those glory days… one day.  He likes dogs too.</p>
				</div>
			</div>
			<div class="social">
				<a href="https://www.linkedin.com/in/murraycolin"><img src="https://www.linkedin.com/favicon.ico" alt="linkedin"></a>
				<a href="https://plus.google.com/102849540818479877995/posts/p/pub"><img src="https://ssl.gstatic.com/s2/oz/images/faviconr3.ico" alt="google+"></a>
				<a href="https://seelio.com/cmurray"><img src="https://seelio.com/favicon.ico" alt="seelio"></a>
			</div>
                <span class="fact"><br>Number of issues: 7<br>
                        Number of commits: 40<br>
                        Number of unit tests: 7<br>
                        Tasks: Travis CI, FunRun API <br></span>
            <br><br>
            <div class="image">
				<img src="https://scontent-dfw.xx.fbcdn.net/hphotos-xpa1/v/t34.0-12/11185659_10153321467579052_1982180711_n.jpg?oh=7f687bb771df44125a179ec6f5caf1ba&oe=554188B0" alt="logan">
			</div>
			<div class="information">
				<h4>Logan Bishop</h4>
				<div class="user">
					<img src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_point_marker_icon.png" />Lubbock, Texas<br />
                    <img src="https://camo.githubusercontent.com/29b9165ea597b18e743c6591ce5065cfe893842b/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333731363637332f323234393838312f65653164356236342d396438392d313165332d383066302d3931363738333935616533652e706e67"> BS in Computer Science'15<br />
                                BS in Computational Chemistry'15<br>
					<p>Logan is a senior student at UT Austin,
                anticipating graduation in December 2015 with a double major in Computational Chemistry and Computer Science.
                He currently spends his time split between studying Lithium ion batteries and
                exploring numerical methods for analytical chemistry.</p>
				</div>

			</div>
			<div class="social">
				<a href="https://www.linkedin.com/hp/?dnr=qn8h1Zlnk6yvu-D-dsOi1jFOcl0v8_vqQLRj"><img src="https://www.linkedin.com/favicon.ico" alt="linkedin"></a>
				<a href="https://plus.google.com/u/0/105764886577082346210/posts"><img src="https://ssl.gstatic.com/s2/oz/images/faviconr3.ico" alt="google+"></a>
				<a href="https://seelio.com/loganbishop"><img src="https://seelio.com/favicon.ico" alt="seelio"></a>
			</div>
                <span class="fact"><br>Number of issues: 6<br>
                    Number of commits: 41<br>
                    Number of unit tests: 7<br>
                    Tasks: Search back end<br></span>
            <br><br>
            <div class="image">
				<img src ="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/084/0d0/2a221bd.jpg"/>
			</div>
			<div class="information">
				<h4>Tehreem Syed</h4>
				<div class="user">
					<img src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_point_marker_icon.png">  Lahore, Pakistan<br />
                    <img src="https://camo.githubusercontent.com/29b9165ea597b18e743c6591ce5065cfe893842b/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333731363637332f323234393838312f65653164356236342d396438392d313165332d383066302d3931363738333935616533652e706e67"> BS in Computer Science'15<br />
					<p>Tehreem is a senior Computer Science student at UT Austin. Her interest lies in mobile development
                    and interaction design. She also loves reading books and travelling. She wants to give a Ted Talk some day.</p>
				</div>

			</div>
			<div class="social">
				<a href="https://www.linkedin.com/in/tehreemsyed"><img src="https://www.linkedin.com/favicon.ico" alt="linkedin"></a>
				<a href="https://plus.google.com/u/0/112313865488468308663/about"><img src="https://ssl.gstatic.com/s2/oz/images/faviconr3.ico" alt="google+"></a>
				<a href="https://seelio.com/tehreemfsyed"><img src="https://seelio.com/favicon.ico" alt="seelio"></a>
			</div>
                <span class="fact"><br>Number of issues: 6<br>
                    Number of commits: 33<br>
                    Number of unit tests: 6<br>
                    Tasks: Timeline page <br></span>
            <br><br>
            <div class="image">
                <img src ="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/217127_480872788604317_544870753_n.jpg?oh=30159f318847f401e6c000dc3fb42f67&oe=55B4B6E3&__gda__=1437766194_b2c522fd19a36e844591df0806c63d50">
			</div>
			<div class="information">
				<h4>Jose Bigio</h4>
				<div class="user">
					<img src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_point_marker_icon.png"> Lima, Peru<br />
                    <img src="https://camo.githubusercontent.com/29b9165ea597b18e743c6591ce5065cfe893842b/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333731363637332f323234393838312f65653164356236342d396438392d313165332d383066302d3931363738333935616533652e706e67"> BS in Computer Science'15<br />
					<p>Jose Bigio is a senior year student at UT Austin studying Computer Science.
                    Jose enjoys long walks on the beach and watching the stars on clear nights.</p>
				</div>

			</div>
			<div class="social">
			<a href="https://www.linkedin.com/profile/view?id=394347234&trk=nav_responsive_tab_profile"><img src="https://www.linkedin.com/favicon.ico" alt="linkedin"></a>
				<a href="https://plus.google.com/u/0/+josebigiothegreat/about"><img src="https://ssl.gstatic.com/s2/oz/images/faviconr3.ico" alt="google+"></a>
				<a href="https://seelio.com/josebigio"><img src="https://seelio.com/favicon.ico" alt="seelio"></a>
			</div>
                <span class="fact"><br>Number of issues: 7<br>
                    Number of commits: 38<br>
                    Number of unit tests: 7<br>
                    Tasks: FunRun API <br></span>
            <br><br>
            <div class="image">
                <img src ="https://scontent.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/1185082_10151833949900629_826568844_n.jpg?oh=40e7e951c530d6b63837cdc1359c2fb5&oe=55ACDD30">
			</div>
			<div class="information">
				<h4>Nathan Giles</h4>
				<div class="user">
					<img src="https://cdn1.iconfinder.com/data/icons/mirrored-twins-icon-set-hollow/512/PixelKit_point_marker_icon.png"> Plano, Texas<br />
                    <img src="https://camo.githubusercontent.com/29b9165ea597b18e743c6591ce5065cfe893842b/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333731363637332f323234393838312f65653164356236342d396438392d313165332d383066302d3931363738333935616533652e706e67"> BS in Computer Science'15<br />
					<p>Nathan Giles is a senior year student at UT Austin studying Psychology and Computer Science.
                    He will be going to graduate school in Psychology/Cognitive Neuroscience upon graduation.</p>
				</div>

			</div>
			<div class="social">
				<a href="https://plus.google.com/u/0/106098921837364491030/posts"><img src="https://ssl.gstatic.com/s2/oz/images/faviconr3.ico" alt="google+"></a>
			</div>
                <span class="fact"><br>Number of issues: 7<br>
                    Number of commits: 30<br>
                    Number of unit tests: 7<br>
                    Tasks: Front end enhancement <br></span>
            <br><br>
<a class="api" href="http://docs.periodictable.apiary.io/#">APIary link</a>
<br>
<a class="api" href="https://github.com/josebigio/cs373-idb">GitHub link</a>
<br><br>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>#}
{#    <script src="../../dist/js/bootstrap.min.js"></script>#}
{#    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
{#    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>#}

{% endblock %}
