{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Charts{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
  <link rel="stylesheet" href="/static/css/slider.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
<div class="row">
    <div class="span6 offset3">
        <canvas id="elements_chart" width="400" height="400"></canvas>
        <div class="well">
            <h4>Temperature (Kelvin)</h4>
            <input id="temperature_slider" width="100%" height="200" data-slider-id='temperature_slider' type="text" data-slider-min="0" data-slider-max="6000" data-slider-step="20" data-slider-value="295"/>
            <p id="cur_temp">295K</p>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="/static/scripts/bootstrap-slider.js"></script>
<script>
    $('#temperature_slider').slider({
        tooltip: 'always',
        formatter: function(value) {
            document.getElementById("cur_temp").innerHTML = value + "K";
            return 'Current temperature: ' + value;
        },
        change: function(event) {
            construct_chart(slider.data('slider').getValue());
        }
    });
</script>
<script src="/static/scripts/Chart.js"></script>
<script src="/static/scripts/elements_chart.js"></script>
{% endblock %}

