{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Simple Map{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
    <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="/static/css/group.css">
    <link rel="stylesheet" href="/static/css/groups.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTaAXz9K-GMoN1b10fCZc1CxbUdrTMfP4">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 39.8282, lng: -98.5795},
          zoom: 5
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        {% autoescape false %}
        var groupAPIArr = {{ funRunArr }};
        {% endautoescape %}
        for (i = 0; i < groupAPIArr.length; i++) {
            funRun = groupAPIArr[i];
              var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(funRun[0], funRun[1]),
                  map: map,
                  title: funRun[2],
                  url: funRun[3]
              });
              google.maps.event.addListener(marker, 'click', function () {
                  window.location.href = this.url;
              });
        }
      }


      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
{#---------Content---------#}

{% block body %}
<div class="panel panel-primary">
  <div class="panel-heading">
  <h3 class="panel-title">Fun Run's API</h3>
  </div>
  <div class="panel-body">
    <p>This is a map that displays all the "Fun Run's" across the United States of America.<br>Hover your mouse pointer over any of the markers to learn the name of the Fun Run. You can also click it to go to the Fun Run's website.<br>Fruendum!!!
    </p>
  </div>
  <div class="panel-footer">Panel footer</div>
</div>
<div id="map-canvas"></div>
{% endblock %}
{% block content %}
<p>
    Google Maps Test!
</p>
{% endblock %}