{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}{{group.name}}{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
<div class="bg" style="background: url('/static/images/groups/{{group.group_number}}/group{{group.group_number}}_background.jpg') no-repeat center center;"></div>
<div class="jumbotron">
  <h1 style="text-align:center">{{group.name}}</h1>
</div>
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec0">Group {{group.group_number}}</a></li>
                  <li><a href="#sec1">Properties</a></li>
                  <li><a href="#sec2">Elements</a></li>
                  <li><a href="#sec3">Applications</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
                <div class="row">
                    <h2 id="sec0">Group {{group.group_number}}</h2>
                    <p>{{group.description}}</p>
                    <div class="col-md-12">
                        <img src="/static/images/groups/{{group.group_number}}/group{{group.group_number}}table.jpg" class="img-responsive" alt="Group {{group.group_number}}" width="100%">
                    </div>
                </div>
                <hr>
              	<h2 id="sec1">Properties</h2>
                <div class="row">
                    <div class="col-md-6">
                    <p>{{group.properties}}</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/groups/{{group.group_number}}/property.jpg" style="margin-top:20px;" class="img-responsive" alt="images">
                    </div>
                    
                </div>
                <hr>
              	<h2 id="sec2">Elements</h2>
                <div class="row">
                  {% for element, image in image_dict.items() %}
                    <a href="/element/{{element.atomic_number}}">
                      <div class="col-md-4"><img src={{image.image_path}} class="img-responsive"><p>{{element.element}}</p></div>
                    </a>
                  {% endfor %}
              	</div>

              
              	<hr>
              
              	<h2 id="sec3">Applications</h2>
      			{{group.applications}}

              	<hr>
              	
              	
      		</div> 
  	</div>
</div>

{% endblock %}
{#---------Scripts---------#}
{% block scripts %}
<script src="/static/scripts/jumbotron.js"></script>
{% endblock %}
