{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}{{group.name}}{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
<div class="bg" style="background: url('/static/images/groups/{{group.group_number}}/group{{group.group_number}}_background.jpg') no-repeat center center;"></div>
<div class="jumbotron">
  <h1 style="text-align:center">{{group.name}}</h1>
</div>
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec0">Group {{group.group_number}}</a></li>
                  <li><a href="#sec1">Properties</a></li>
                  <li><a href="#sec2">Elements</a></li>
                  <li><a href="#sec3">Applications</a></li>
                  <li><a href="#sec4">Trivia</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
                <div class="row">
                    <h2 id="sec0">Group {{group.group_number}}</h2>
                    <p>{{group.description}}</p>
                    <div class="col-md-12">
                        <img src="/static/images/groups/{{group.group_number}}/group{{group.group_number}}.jpg" class="img-responsive" alt="Group 1 metals" width="100%">
                    </div>
                </div>
                <hr>
              	<h2 id="sec1">Properties</h2>
                <div class="row">
                    <div class="col-md-6">
                    <p>{{group.properties}}</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/groups/{{group.group_number}}/isodium_water.jpg" style="margin-top:20px;" class="img-responsive" alt="images">
                    </div>
                    
                </div>
                <hr>
              	<h2 id="sec2">Elements</h2>
                <div class="row">
                  {% for element, image in image_dict.items() %}
                    <a href="/element/{{element.atomic_number}}">
                      <div class="col-md-4"><img src={{image.image_path}} class="img-responsive"><p>{{element.element}}</p></div>
                    </a>
                  {% endfor %}
              	</div>

              
              	<hr>
              
              	<h2 id="sec3">Applications</h2>
      			{{group.applications}}
              
              	<h2 id="sec4">Trivia</h2>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Francium-223, the only naturally occurring isotope of francium.</h3>
                  </div>
                  <div class="panel-body">
                    Francium-223 is the product of the alpha decay of actinium-227 and can be found in trace amounts in uranium and thorium minerals. In a given sample of uranium, there is estimated to be only one francium atom for every 1018 uranium atoms. It has been calculated that there is at most 30 g of francium in the earth's crust at any time, due to its extremely short half-life of 22 minutes.
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Pure potassium was first isolated in 1807 in England by Sir Humphry Davy.</h3>
                  </div>
                  <div class="panel-body">
                    Sir Humphry Davy derived it from caustic potash (KOH, potassium hydroxide) by the use of electrolysis of the molten salt with the newly invented voltaic pile. Previous attempts at electrolysis of the aqueous salt were unsuccessful due to potassium's extreme reactivity.
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Lithium naturally only occurs in traces in biological systems and has no known biological role.</h3>
                  </div>
                  <div class="panel-body">
                    Lithium does have effects on the body when ingested. Lithium carbonate is used as a mood stabiliser in psychiatry to treat bipolar disorder (manic-depression) in daily doses of about 0.5 to 2 grams, although there are side-effects. Excessive ingestion of lithium causes drowsiness, slurred speech and vomiting, among other symptoms, and poisons the central nervous system, which is dangerous as the required dosage of lithium to treat bipolar disorder is only slightly lower than the toxic dosage.
                  </div>
                </div>
              	<hr>
              	
              	
      		</div> 
  	</div>
</div>

{% endblock %}
{#---------Scripts---------#}
{% block scripts %}
<script src="/static/scripts/jumbotron.js"></script>
{% endblock %}
