{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Period 2{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
<div class="bg" style="background: url('/static/images/period2/nitrogen_background.jpg') no-repeat center center;"></div>
<div class="jumbotron">
  <h1 style="text-align:center">Period 2</h1>
</div>
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec1">Properties</a></li>
                  <li><a href="#sec2">Elements</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
                <hr>
              	<h2 id="sec1">Properties</h2>
                <div class="row">
                    <div class="col-md-6">
                    <p>Period 2 elements involve the 2s and 2p orbitals. They include the biologically most essential elements besides hydrogen: carbon, nitrogen, and oxygen.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/period2/period2.png" style="margin-top:20px;" class="img-responsive" alt="images">
                    </div>
                    
                </div>
                <hr>
              	<h2 id="sec2">Elements</h2>
                <div class="row">
                  	
                  <div class="col-md-4"><img src="/static/images/period2/Lithium.jpg" class="img-responsive"> <p>Lithium</p></div>
                  <div class="col-md-4"><img src="/static/images/period2/Beryllium.jpg" class="img-responsive"><p>Beryllium</p></div>
                  <div class="col-md-4"><img src="/static/images/period2/Boron.jpg" class="img-responsive"> <p>Boron</p></div>
                  <div class="col-md-4"><img src="/static/images/period2/Carbon.jpg" class="img-responsive"><p>Carbon</p></div>
                  <div class="col-md-4"><img src="/static/images/period2/Nitrogen.jpg" class="img-responsive"> <p>Nitrogen</p></div>
                  <div class="col-md-4"><img src="/static/images/period2/Oxygen.jpg" class="img-responsive"><p>Oxygen</p></div>
                  <div class="col-md-4"><img src="/static/images/period2/Fluorine.jpg" class="img-responsive"> <p>Fluorine</p></div>
                  <div class="col-md-4"><img src="/static/images/period2/Neon.jpg" class="img-responsive"><p>Neon</p></div>

              	</div>

              
              	<hr>
              
              	
              	
              	
      		</div> 
  	</div>
</div>
{% endblock %}
{#---------Scripts---------#}
{% block scripts %}
<script src="/static/scripts/jumbotron.js"></script>
{% endblock %}
