{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Period {{period.period_number}}{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
<div class="bg" style="background: url('/static/images/period{{period.period_number}}/period{{period.period_number}}_background.jpg') no-repeat center center;"></div>
<div class="jumbotron">
  <h1 style="text-align:center">Period {{period.period_number}}</h1>
</div>
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec1">Properties</a></li>
                  <li><a href="#sec2">Elements</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
                <hr>
              	<h2 id="sec1">Properties</h2>
                <div class="row">
                    <p>{{period.description}}</p>
                    <div class="col-md-12">
                        <img src="/static/images/period{{period.period_number}}/period{{period.period_number}}.png" style="margin-top:20px;" class="img-responsive" alt="images">
                    </div>
                </div>
                <hr>
              	<h2 id="sec2">Elements</h2>
                <div class = "row">
                <!--images go here-->
                {% for element, image in image_dict.items() %}
                    <a href="/element/{{element.atomic_number}}">
                      <div class="col-md-4"><img src={{image.image_path}} class="img-responsive"><p>{{element.element}}</p></div>
                    </a>
               {% endfor %}
                </div>
              
              	<hr>
              
              	
              	
              	
      		</div> 
  	</div>
</div>
{% endblock %}
{#---------Scripts---------#}
{% block scripts %}
<script src="/static/scripts/jumbotron.js"></script>
{% endblock %}
