{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Period 3{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/group.css">
{% endblock %}
{#---------Content---------#}
{% block content %}
<div class="bg" style="background: url('/static/images/period3/sulfur_background.jpg') no-repeat center center;"></div>
<div class="jumbotron">
  <h1 style="text-align:center">Period 3</h1>
</div>
<div class="container">
	<div class="row">
  			<div class="col-md-3" id="leftCol">
              
              	<ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec1">Properties</a></li>
                  <li><a href="#sec2">Elements</a></li>
              	</ul>
              
      		</div>  
      		<div class="col-md-9">
                <hr>
              	<h2 id="sec1">Properties</h2>
                <div class="row">
                    <div class="col-md-6">
                    <p>All period three elements occur in nature and have at least one stable isotope. All but the noble gas argon are essential to basic geology and biology.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/static/images/period3/period3.png" style="margin-top:20px;" class="img-responsive" alt="images">
                    </div>
                    
                </div>
                <hr>
              	<h2 id="sec2">Elements</h2>
                <div class="row">
              		
                  <div class="col-md-4"><img src="/static/images/period3/Sodium.jpg" class="img-responsive"><p>Sodium</p></div>
                  <div class="col-md-4"><img src="/static/images/period3/Magnesium.jpg" class="img-responsive"><p>Magnesium</p></div>
                  <div class="col-md-4"><img src="/static/images/period3/Aluminum.jpg" class="img-responsive"><p>Aluminum</p></div>
                  <div class="col-md-4"><img src="/static/images/period3/Silicon.jpg" class="img-responsive"><p>Silicon</p></div>
                  <div class="col-md-4"><img src="/static/images/period3/Phosphorus.jpg" class="img-responsive"><p>Phosphorus</p></div>
                  <div class="col-md-4"><img src="/static/images/period3/Sulfur.jpg" class="img-responsive"><p>Sulfur</p></div>
                  <div class="col-md-4"><img src="/static/images/period3/Chlorine.jpg" class="img-responsive"><p>Chlorine</p></div>
                  <div class="col-md-4"><img src="/static/images/period3/Argon.jpg" class="img-responsive"><p>Argon</p></div>
                  	
              	</div>

              
              	<hr>
              
              	
              	
              	
      		</div> 
  	</div>
</div>
{% endblock %}
{#---------Scripts---------#}
{% block scripts %}
<script src="/static/scripts/jumbotron.js"></script>
{% endblock %}