{% extends "layout.html" %}
{#---------Title---------#}
{% block title %}Team Members{% endblock %}
{#---------Header---------#}
{% block head %}
  {{ super() }}
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/static/css/group.css">
    <link rel="stylesheet" href="/static/css/groups.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
{% endblock %}
{#---------Content---------#}
{% block content %}
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<div class = "wrapper">
    <h3>Search Results</h3>
    <br>
    <p>Your search for {{query}} returned {{size}} results:</p>

    <br><br>

    {%  for result in results %}
            <div class="search_result">
                <a href = {{result['url']}}>{{result['title']}}</a>
                <p>
                    ...
                {% for word in result['snippet'] %}
                    {% pattern = re.compile("[^\w']") %}
                    {% if pattern.sub(' ',word).strip() in query %}
                        <strong> {{word}} </strong>
                    {% else %}
                        {{word}}
                    {% endif %}
                {% endfor %}
                    ...
                </p>
            </div>
        <hr>
    {% endfor %}
</div>

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>#}
{#    <script src="../../dist/js/bootstrap.min.js"></script>#}
{#    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
{#    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>#}

{% endblock %}
